@media (max-width: 576px) {
  .sm-flex-col {
    flex-direction: column;
    width: 280px;
    margin: auto;
  }

  .sm-center {
    text-align: center;
    justify-content: center;
  }

  .sm-text-center {
    margin: auto;
  }
}
